{% extends 'courseinfo/base.html' %}

{% block title %}
    Error Deleting Course
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Course</h2>
        <p>
            You may not delete course {{ instructor }}. This
            course is currently assigned to the following sections:
        </p>

        <ul>
            {% for section in sections %}
            <li><a href="{{ section.get_absolute_url }}">{{ section }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'courseinfo_course_list_urlpattern' %}">Course List</a>
        </p>
    </div>
{% endblock %}