{% extends 'courseinfo/base.html' %}

{% block title %}
    Delete Registration
{% endblock %}

{% block content %}
    <form
        action = "{{ registration.get_delete_url }}"
        method = "post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            registration {{ registration }}?
        </p>
        <a href="{{ registration.get_absolute_url }}">Cancel</a>
        <button type = "submit">Delete Registration</button>
    </form>
{% endblock %}